.show {
    width: 600px;
    height: 400px;
    border: 1px solid green;
    color: green;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    p, button{
        margin :10px
    }